<?xml version="1.0" encoding="UTF-8"?>
<config>

	<DriverName>org.postgresql.Driver</DriverName>
	<DBMS>postgresql</DBMS>
	<ServerName>127.0.0.1</ServerName>
	<Port>5432</Port>
	<DatabaseName>mapaosc</DatabaseName>
	<UserName>postgres</UserName>
	<Password>root</Password>
	<InitialClusterZoomLevel>4</InitialClusterZoomLevel>
	<ClusterGridSize>100</ClusterGridSize>
	<MinClusterZoomLevel>4</MinClusterZoomLevel>
	<MaxClusterZoomLevel>18</MaxClusterZoomLevel>
	<MaxClusterZoomLevelCalc>6</MaxClusterZoomLevelCalc>

</config>